
html {                                
    box-sizing: border-box;
}
/*
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color-blue: #2196F3;
    --accent-color-blue-button:#188CE8;
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #2F303A;
    --primary-write-color: #FFFFFF;
    --accent-color-red: red;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --button-bg-color: #F5F4FA;
    --hero-backgraund-color: #C4C4C4;
    --icon-color: #AFB1B8;
    --icon-backrgraund-color:rgba(255, 255, 255, 0.1);
    --header-color:#ECECEC;
    --gray-border-color: rgba(33, 33, 33, 0.2);
    --animation: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    --gap: 30px;
    --item: 4;

}

body {
    
    background-color: var(--primary-write-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    align-content: center;
}


h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
}
*/
/*Скрытие заголовков
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.card-item {
    flex-basis: calc((100% - (var(--item) - 1) * var(--gap)) / var(--item));
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
  
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   }

.header {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: calc(16 / 14);
    border-bottom: 1px solid var(--header-color);
}

.header__container {
    display: flex;
    align-items: center;
}

.navigate {
    display: flex;
    align-items: center;
    gap: 93px;
}

/*Header-begin*/

/*Site nav


.navigate__list {
    display: flex;
    gap: 50px;
    color: var(--title-text-color);
}

.navigate__link {
    display: flex;
    align-items: center;

    padding: 30px 0;
    transition: color var(--animation);
}

.navigate__link:hover,
.navigate__link:focus {
    color: var(--accent-color-blue);

}

.navigate__link--current {
    color: var(--accent-color-blue);
    position: relative;

}

.navigate__link--current::after {            
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    display: block;

    background-color: var(--accent-color-blue);
    border-radius: 2px;
}   

.logo {
    color: var(--accent-color-blue);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);

}

.logo--studio-black {
    color: var(--secondary-bg-color)
}

.contacts__list {
    display: flex;
    gap: 50px;
    margin-left: auto;
}


.contacts__link {
    display: flex;
    align-items: center;

    padding: 30px 0;
    transition: color var(--animation);
}


.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color-blue);
    fill: var(--accent-color-blue);
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;

}



Main
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
     
    margin-left: auto;
    margin-right: auto;
   
    background-color: var(--hero-backgraund-color, #C4C4C4);
    background-image: linear-gradient(to right, var(--hero-gradient, #2F303A66), var(--hero-gradient, #2F303A66)),
        url(../images/hero-background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero-title {
    text-align: center;
    margin-bottom: 30px;
  
    color: var(--primary-write-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.order {
    color: var(--primary-write-color);
}
/*
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    margin: 0 auto;
    min-height: 50px;
    min-width: 200px;
    letter-spacing: 0.06em;
    color: var(--primary-write-color);
    background-color: var(--accent-color-blue);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color var(--animation);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.button:hover,
.button:focus {
    background-color: var(--accent-color-blue-button);
}

/*
.section-title {
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
*/

/*Преимущества*/


/*.features-item {
    flex-basis: calc((100% - 90px) / 4);
}
.features__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--title-text-color);
    text-transform: uppercase;
}

.features__logo {
    display: flex;
    justify-content: center;
    padding: 25px 100px;
    border-radius: 4px;
    background-color: var(--button-bg-color);
    margin-bottom: 30px;

}


.work__item {
    position: relative;
    --item: 3;
}

.work__text {
    font-weight: 700;
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;
    
    color: var(--primary-write-color);
}

 Преимущества Overlay 
.work__overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px;
    text-align: center;
    color: var(--primary-write-color);
    
    background-color: rgba(47, 48, 58, 0.8);
}

 Сотрудники

.emploees {
    background-color: var(--button-bg-color);
}


.emploees__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.emploees__description {
    padding: 30px 24px;
    border: 1px solid #fff;
    border-top: none;
    text-align: center;
    background-color: var(--primary-write-color);
}
.emploees__title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);

}

.emploees__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: calc(19 / 16);
}

.networks__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.networks__icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: fill var(--animation);
}

.networks__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--animation);
}

.networks__link:hover,
.networks__link:focus  {
    background-color: var(--accent-color-blue);  
}
 
.networks__link:hover .networks__icon,
.networks__link:focus .networks__icon  {
    fill: var(--primary-write-color);
}
*/
/* Постоянные клиенты 

.clients__item {
    --item: 6;
}

.clients__link {
    height: 92px;
    border: 1px solid #AFB1B8;
    bottom: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
    transition: fill var(--animation), border var(--animation);
}
.clients__link:hover,
.clients__link:focus {
    fill: var(--accent-color-blue);
    border: 1px solid #2196F3;
}

/* portfolio 
.portfolio {
}


/* Portfolio img 



.portfolio__item {
    --item: 3; 
}

.portfolio__link {
    display: block;
  
    cursor: pointer;
    transition: box-shadow var(--animation);
}



.portfolio__link:hover, 
.portfolio__link:focus {
    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
        0px 4px 4px rgba(0, 0, 0, 0.06), 
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .portfolio-overlay,
.portfolio__link:focus .portfolio-overlay {
    transform: translateY(0);
}
.portfolio__picture {
    position: relative;
    overflow: hidden;
}
.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
   
    transform: translateY(294px);
    padding: 63px 24px;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);
    backdrop-filter: blur(1px);

    transition: transform var(--animation);
}
.portfolio-overlay__text {
    
    font-size: 18px;
    line-height: 28px;
   
    text-align: left;
    letter-spacing: 0.03em;
    color: var(--primary-write-color);
}


.portfolio__desc {
    padding: 20px 24px;
    border: 1px solid #fff;
    border-top: none;
}

.portfolio__title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__text { 
    color: var(--primary-text-color);
    line-height: 1.88;
    font-size: 16px;
}

/*button
.portfolio-filter__list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.portfolio-filter__button {
    padding: 6px 22px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    
    color: var(--title-text-color);
    background-color: var(--button-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    font-family: inherit;
    cursor: pointer;
    text-align: center;

    transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
   
}


.portfolio-filter__button:hover,
.portfolio-filter__button:focus {
    color: var(--primary-write-color);
    background-color: var(--accent-color-blue);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
Футер
.footer {

    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-color);
} 
.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
}
.logo--studio-white {
    color: var(--primary-write-color)
}
.footer__item {
    color: var(--primary-write-color);
}
.footer__item:last-child {
    margin-left: auto;
}

.footer-networks {
    
 }

.footer__text {
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    
    color: var(--primary-write-color);
}

.footer__container {
    display: flex;
    align-items: baseline;
    gap: 70px;
}

 .networks__link--color {
    background-color: rgba(255, 255, 255, 0.1);

 }

 .networks__icon--color {
    fill: var(--primary-write-color);

 }

 .networks__link--color:hover,
 .networks__link--color:focus {
    background-color: var(--accent-color-blue);
}


.address__list {
    font-style: normal;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}
.address__link {
    color: var(--footer-text-color);
    transition: color var(--animation);
    
}

.address__link:hover,
.address__link:focus {
    color: var(--accent-color-blue);
}


.address__link--white {
    color: var(--primary-write-color);
    transition: color var(--animation);
}

.address__link--white:hover,
.address__link-white:focus {
    color: var(--accent-color-blue);
}
*/




/* Модальное окно
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;

    transition: opacity var(--animation), visibility var(--animation);
}

.backdrop .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: transform var(--animation);
}

 .backdrop.is-hidden .modal {
     transform: translate(-50%, -50%) scale(0) rotate(180deg);
 }

.modal__button {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    fill: rgba(0, 0, 0, 1);
    transition: fill var(--animation), border-color var(--animation);
    cursor: pointer;
}

.modal__button:hover,
.modal__button:focus {
    border-color: var(--accent-color-blue);
    fill: var(--accent-color-blue);
}
/*
.register-form {
    text-align: center;
}
.register-form__title {
    display: block;
    margin-bottom: 12px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: calc(23 / 20);
    color: var(--title-text-color);
  }

.register-form__group {
    margin-bottom: 20px;
}

.register-form__content {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}
.register-form__content:last-child {
    margin-bottom: 0;
}
.register-form__label {
    text-align: left;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

}
.register-form__file {
    position: relative;
}

.register-form__input {
    height: 40px;
    width: 100%;
    border: 1px solid var(--gray-border-color);
    border-radius: 4px;
    padding: 12px;
    padding-left: 42px;
   
    outline: transparent;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: var(--title-text-color);
    transition: border-color var(--animation);
    
}
.register-form__input:focus,
.register-form__input:hover {
    border-color: var(--accent-color-blue);
}

.register-form__message {
    height: 120px;
    width: 100%;
    border: 1px solid var(--gray-border-color);
    border-radius: 4px;
    padding: 12px;
   
    outline: transparent;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: var(--title-text-color);
    transition: border-color var(--animation);
    resize: none;

}

.register-form__message::placeholder {
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}


.register-form__message:focus,
.register-form__message:hover {
    border-color: var(--accent-color-blue);
}

.register-form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    fill: var(--title-text-color);
    transition: fill var(--animation);

}
.register-form__input:focus + .register-form__icon {
    fill: var(--accent-color-blue);
}

.register-form__input:hover +.register-form__icon {
    fill: var(--accent-color-blue);
}

.register-checkbox {
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.register-checkbox__input:checked + .register-checkbox-icon .register-checkbox-icon-uncheck {
    opacity: 0;
    transition: opacity var(--animation);
}
.register-checkbox__input:checked + .register-checkbox-icon .register-checkbox-icon-check {
    opacity: 1;
}
 
.register-checkbox-icon-check {
    opacity: 0;
    transition: opacity var(--animation);
}

.register-checkbox-icon-uncheck {
    transition: fill var(--animation);
}

.register-checkbox__input:hover + .register-checkbox-icon .register-checkbox-icon-uncheck {
    fill: var(--accent-color-blue);
}

.register-checkbox__input:focus + .register-checkbox-icon .register-checkbox-icon-uncheck {
    fill: var(--accent-color-blue);
}


.register-checkbox__text {
    user-select: none;
    text-underline-position: under;
}
.register-checkbox__link {
    color: var(--accent-color-blue);
}

.footer-form {
    display: flex;
    gap: 12px;
}
.footer-form__input {
  
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: color var(--secondary-bg-color);
    border-radius: 4px;
    padding: 16px;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: var(--primary-write-color);

    outline: transparent;
}
.footer-form__input:hover,
.footer-form__input:focus {
    border-color: var(--accent-color-blue);
}


.footer-form__input::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    color: rgba(255, 255, 255, 0.6);

}

.footer-form__icon {
    fill: var(--primary-write-color);
    margin-left: 10px;
}
*/
/*вторичный цвет текста background: #212121;*/
/*цвет основного текста background: #757575;*/
/*цвет текста заголовка h1 и кнопки background: #FFFFFF;*/
/*цвет текста футера background: rgba (255, 255, 255, 0.6)*/

/*акцент background: #2196F3;*/
/*цвет фона карточек сотрудников и футера  background: #FFFFFF;*/
/* цвет фона  background: #E5E5E5;*/
/* цвет фона background: #F5F4FA;*/
/* цвет фона hero и футера background: #2F303A;
Retina  экрана
@media screen and (min-device-pixel-ratio: 2),
screen and (-moz-min-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 2/1),
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    @content;
}
*/