
@mixin mq($range) {
    $mob: 480px;
    $tab: 768px;
    $desk: 1200px;

    @if $range ==mob {
        @media screen and (min-width:$mob) {
            @content;
        }
    }

    @else if $range ==mob-only {
        @media (max-width:#{$tab - 0.02}) {
            @content;
        }
    }

    @else if $range ==tab {
        @media screen and (min-width:$tab) {
            @content;
        }
    }

    @else if $range ==tab-only {
        @media (min-width:$tab) and (max-width:#{$desk - 0.02}) {
            @content;
        }
    }

    @else if $range ==desk {
        @media screen and (min-width:$desk) {
            @content;
        }
    }

    @else if $range ==noDesk {
        @media (max-width:#{$desk - 0.02}) {
            @content;
        }
    }

}
@mixin section ($padding: 60px) {
    padding-top: $padding;
    padding-bottom: $padding;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}



/*@mixin fonts ($fs: 14px, $lh: 24px, $fw: 400, $ls: 0.03em) {
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
    letter-spacing: $ls;
    
}

 font-size: 14px;
 line-height: calc(24 / 14);
 font-weight: 400;
 letter-spacing: 0.03em;*/