:root {
    --indent: 30px;
    --items: 4;
}

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color-blue: #2196F3;
$accent-color-blue-button: #188CE8;
$primary-bg-color: #E5E5E5;
$secondary-bg-color: #2F303A;
$primary-write-color: #FFFFFF;
$accent-color-red: red;
$footer-text-color: rgba(255, 255, 255, 0.6);
$button-bg-color: #F5F4FA;
$hero-backgraund-color: #C4C4C4;
$icon-color: #AFB1B8;
$icon-backrgraund-color: rgba(255, 255, 255, 0.1);
$header-color: #ECECEC;
$gray-border-color: rgba(33, 33, 33, 0.2);
$animation: 500ms cubic-bezier(0.4, 0, 0.2, 1);
   
