.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 480px;

    margin-left: auto;
    margin-right: auto;
   
    background-color: #C4C4C4;
    background-image: linear-gradient(to right, var(--hero-gradient, #2F303A66), var(--hero-gradient, #2F303A66)),
            url(../images/hero-background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
      
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
    }
}

.hero-title {
    text-align: center;
    margin-bottom: 30px;
   
    font-size: 26px;
    line-height: calc(42 / 26);
    font-weight: 900;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
            font-size: 44px;
    }

}

