.footer-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
   
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        gap: 12px;
        
      }

  &__input {
    width: 100%;
    max-width: 450px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: inherit;
    border-radius: 4px;
    padding: 16px;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: #FFFFFF;
    outline: transparent;
    @media screen and (min-width: 1200px) {
        width: 358px;
     }

    &:hover,
    &:focus {
      border-color: #2196F3;
    }
    &::placeholder {
      font-size: 16px;
      line-height: calc(20 / 16);
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__icon {
    fill: #FFFFFF;
    margin-left: 10px;
  }
}